<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  localhost\SQLEXPRESS  106.14.177.162
  -->
<configuration>
  <connectionStrings>
    <add name="AccountCenter_ConnString" connectionString="data source=localhost\SQLEXPRESS;Initial Catalog=AccountCenter;User ID=sa;password=x4v8m2e@p2dk)s7b" providerName="System.Data.SqlClient"/>
    <add name="JD_SQL_ConnString" connectionString="data Source=106.14.177.162;Initial Catalog=JiadianDB;User ID=sa;password=x4v8m2e@p2dk)s7b;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="新闻公告AgentID" value="12"/>
    <add key="消息通知AgentID" value="34"/>
    <!-- 中高层领导TagID为3，测试的时候可以用7只有李峰可接收 -->
    <add key="中高层领导TagID" value="7"/>
    <!-- 以下为企业号配置 -->
    <!-- 石化工贸云消息通知回调模式Token -->
    <add key="Token" value="tiyiqyhxxtz"/>
    <!-- 石化工贸云消息通知 EncodeingAESKey -->
    <add key="EncodingAESKey" value="bKAtuvrYsboHkUrnnXkdrYHKu3n11ORiO1f91DO5Yq2"/>
    <!-- 石化工贸云企业号 CorpID wxa3224532b453df34 -->
    <add key="CorpID" value="wxa3224532b453df34"/>
    <!-- 石化工贸云微信开发 Secret k1h2TMtjdibif24UMTEnq3TTIBFgPQzeO0-Sa4VkhQM681hNZhahHlC50X_htiAc -->
    <add key="CorpSecret" value="k1h2TMtjdibif24UMTEnq3TTIBFgPQzeO0-Sa4VkhQM681hNZhahHlC50X_htiAc"/>
    <!-- 微信企业号基础 AccessToken 获取中央服务器地址 -->
    <add key="AccessTokenServiceUri" value="http://106.14.177.162/WeixinQY/AccessTokenService.aspx"/>
    <add key="Tiyi.Weixin.Work.SendMsgService" value="http://106.14.177.162/WeixinQY/WS/SendMsgService.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <authentication mode="Forms">
      <forms name=".AccountCenter" defaultUrl="~/Default.aspx" loginUrl="Login.aspx" protection="All" cookieless="UseDeviceProfile" timeout="525600" enableCrossAppRedirects="true" path="/"/>
    </authentication>
    <authorization>
      <allow roles="GeneralPersonnels"/>
      <!-- allow users="*" / -->
      <deny users="*"/>
      <!-- 允许所有用户 -->
      <!--  <allow     users="[逗号分隔的用户列表]"
                             roles="[逗号分隔的角色列表]"/>
                  <deny      users="[逗号分隔的用户列表]"
                             roles="[逗号分隔的角色列表]"/>
            -->
    </authorization>
    <machineKey validation="SHA1" validationKey="F9D8A27FCABB9EDE4EABF1D4B9182490E63AB084BE4ADE07E7F05D5D27A41710DAB2D5735DEE07D024B9E7AF65ACF1A3CCAE8F69F0930158FABC39752E5BA327" decryptionKey="250A00BCA360C07434C368EBEB2972CC7C7B5B05F1D8E1BF"/>
    <membership>
      <providers>
        <clear/>
        <!-- System.Web.Security.SqlMembershipProvider -->
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AccountCenter_ConnString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AccountCenter_ConnString" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AccountCenter_ConnString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>